<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hotel System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script src="/static/js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <script src="/static/js/table.js"></script>
    <script src="/static/js/message.js"></script>
    <link rel="stylesheet" href="/static/css/datepicker.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <section>
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="tabs" id="tab">
                        <ul>
                            <li class="is-active" name="room"><a>Rooms</a></li>
                            <li id="tab-user" name="user"><a>Users</a></li>
                            <li name="order"><a>Orders</a></li>
                            <li id="tab-root" name="root"><a>Root</a></li>
                        </ul>
                    </div>
                </div>
                <div class="level-right" id="bars">
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-danger" @click.prevent="logout"> logout </button>
                        </div>
                        <div class="control">
                            <button class="button" @click.prevent="profile"> profile </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>

    <section id="user" class="content">
        <div class="container">
            <div class="columns">

                <div class="column">
                    <div class="field">
                        <label class="label"> User Name</label>
                        <div class="control">
                            <input class="input" v-model="name" type="text" placeholder="let it alone to ignore this filter.">
                        </div>
                    </div>
                </div>

                <div class="column">

                    <div class="field">
                        <label class="label"> Phone Number</label>
                        <div class="control">
                            <input class="input" v-model="phone" type="text" placeholder="let it alone to ignore this filter.">
                        </div>
                    </div>
                </div>

                <div class="column">
                    <label class="label">
                        Birthdate
                    </label>
                    <vue-datepicker-local v-model="birthdate">
                    </vue-datepicker-local>
                </div>


            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label"> Credential</label>
                        <div class="control">
                            <input class="input" v-model="credential" type="text" placeholder="let it alone to ignore this filter.">
                        </div>
                    </div>
                </div>


                <div class="column">
                    <div class="field">
                        <label class="label"> Balance range</label>
                        <div class="control">
                            <input class="input" v-model="balance" type="text" placeholder="please input 'low-hight' or nothing">
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label class="label"> Bonus range</label>
                        <div class="control">
                            <input class="input" v-model="bonus" type="text" placeholder="please input 'low-hight' or nothing">
                        </div>
                    </div>

                </div>
            </div>


            <div class="field">
                <label class="label"> Gender</label>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" value="man" v-model="genders">
                        Man
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" value="woman" v-model="genders">
                        Woman
                    </label>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button @click="submit" class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button v-if="role <= 1" @click="insert" class="button is-link"> Add </button>
                </div>
                <div class="control">
                    <button @click="clear" class="button is-text">clear</button>
                </div>
            </div>
        </div>

        <general-message v-bind:iserror="iserror" v-bind:msg="msg">

        </general-message>

        <result-table v-bind:result="users">
        </result-table>
    </section>


    <section id="room" class="content">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <label class="label">
                        check in
                    </label>
                    <vue-datepicker-local v-model="checkin">
                    </vue-datepicker-local>
                </div>

                <div class="column">
                    <label class="label">
                        check out
                    </label>
                    <vue-datepicker-local v-model="checkout">
                    </vue-datepicker-local>
                </div>

                <div class="column">
                    <label class="label">
                        capacity
                    </label>
                    <div class="control">
                        <input class="input" type="text" v-model="capacity" placeholder="let it empty to ignore">
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <label class="label">
                        room id
                    </label>
                    <div class="control">
                        <input class="input" type="text" v-model="room_id" placeholder="let it empty to ignore">
                    </div>
                </div>
                <div class="column">
                    <label class="label">
                        price
                    </label>
                    <div class="control">
                        <input class="input" type="text" v-model="price" placeholder="let it empty to ignore">
                    </div>
                </div>
                <div class="column">
                    <label class="label">
                        floor
                    </label>
                    <div class="control">
                        <input class="input" type="text" v-model="floor" placeholder="let it empty to ignore">
                    </div>
                </div>
            </div>

            <div class="columns">




                <div class="column">
                    <div class="field">
                        <label class="label"> requirment</label>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" value="wifi" v-model="reqs">
                                    wifi
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox" value="breakfast" v-model="reqs">
                                    breakfast included
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button @click="submit" class="button is-link">Query</button>
                </div>
                <div class="control">
                    <button v-if="role <= 1" @click="insert" class="button is-link">Add</button>
                </div>
                <div class="control">
                    <button @click="clear" class="button is-text">clear</button>
                </div>
            </div>

            <div class="container" v-if="role <= 0">
                <div class="columns">
                    <div class="column">
                        <label class="label">
                            Room Type
                        </label>
                        <div class="field is-grouped">
                            <div class="control">
                                <div class="select">
                                    <select v-model="selected_room_type">
                                        <option v-for="type in room_types"> {{ type }} </option>
                                    </select>
                                </div>
                            </div>

                            <div class="control">
                                <input class="input" type="text" v-model="add_type" placeholder="new room type name here">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="column">
                        <label class="label">
                            room number
                        </label>
                        <div class="control">
                            <input class="input" type="text" v-model="room_number" placeholder="let it empty to ignore">
                        </div>
                    </div> -->

                </div>


                <div class="field is-grouped">
                    <div class="control">
                        <button @click="add_room_type" class="button is-link">Add Type</button>
                    </div>
                </div>
            </div>

        </div>

        <general-message v-bind:iserror="iserror" v-bind:msg="msg">
        </general-message>

        <result-table v-bind:result="rooms"> </result-table>
    </section>


    <section id="order" class="content">
        <div class="container">

        </div>
    </section>



    <section id="root" class="content">
        <div class="container">
            <div class="field">
                <label class="label"> Your SQL below</label>
                <div class="control">
                    <input class="input" type="text" v-model="query">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-link" @click="submit"> submit</button>
                </div>
            </div>
            <general-message v-bind:iserror="error" v-bind:msg="output">

            </general-message>
        </div>
        <result-table v-bind:result="table">
        </result-table>
    </section>


    <script type="text/javascript" src="/static/js/index.js"></script>
    <script src="/static/js/datepicker.js"></script>
</body>

</html>