<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hotel System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->
    <script src="/static/js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/static/js/datepicker.js"></script>
    <!-- <script src="https://unpkg.com/vuejs-datepicker"></script> -->
    <link rel="stylesheet" href="/static/css/datepicker.css">
</head>

<body>
    <section>
        <div class="container">
            <div class="tabs" id="tab">
                <ul>
                    <li class="is-active" name="user"><a>Users</a></li>
                    <li name="room"><a>Rooms</a></li>
                    <li name="order"><a>Orders</a></li>
                    <li name="root"><a>Root</a></li>
                </ul>
            </div>
        </div>
    </section>
    <br>


    <section id="user" class="content">
        <div class="container">
            <div class="columns">

                <div class="column">
                    <div class="field">
                        <label class="label"> User Name</label>
                        <div class="control">
                            <input class="input" v-model="name" type="text" placeholder="let it alone to ignore this filter.">
                        </div>
                    </div>
                </div>


                <div class="column">

                    <div class="field">
                        <label class="label"> Phone Number</label>
                        <div class="control">
                            <input class="input" v-model="phone" type="text" placeholder="let it alone to ignore this filter.">
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">

                <div class="column">
                    <div class="field">
                        <label class="label"> Credential</label>
                        <div class="control">
                            <input class="input" v-model="credential" type="text" placeholder="let it alone to ignore this filter.">
                        </div>
                    </div>
                </div>


                <div class="column">
                    <div class="field">
                        <label class="label"> Balance range</label>
                        <div class="control">
                            <input class="input" v-model="balance" type="text" placeholder="please input 'low-hight' or nothing">
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field">
                        <label class="label"> Bonus range</label>
                        <div class="control">
                            <input class="input" v-model="bonus" type="text" placeholder="please input 'low-hight' or nothing">
                        </div>
                    </div>

                </div>
            </div>


            <div class="field">
                <label class="label"> Gender</label>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" value="man" v-model="genders">
                        Man
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" value="woman" v-model="genders">
                        Woman
                    </label>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button @click="submit" class="button is-link">Submit</button>
                </div>
                <div class="control">
                    <button @click="clear" class="button is-text">clear</button>
                </div>
            </div>

        </div>
    </section>

    <section id="room" class="content">
        <div class="container">
            <vue-datepicker-local v-model="time">

            </vue-datepicker-local>
        </div>
    </section>



    <section id="root" class="content">
        <div class="container">
            <input type="text" id="query">
            <button id="q-button"> submit</button>
            <br>
            <textarea id="output">



            </textarea>
        </div>
    </section>

    <section id="res-table">
        <div class="container">
            <table class="table" v-if="users.length > 0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                        <th>gender</th>
                        <th>credential</th>
                        <th>birthdate</th>
                        <th>phone</th>
                        <th>balance</th>
                        <th>bonus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users">
                        <td> {{ user.id }} </td>
                        <td> {{ user.credential }}</td>
                        <td> {{ user.name }}</td>
                        <td> {{ user.gender }}</td>
                        <td> {{ user.birthdate }}</td>
                        <td> {{ user.phone }}</td>
                        <td> {{ user.balance }}</td>
                        <td> {{ user.bonus }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script src="/static/js/datepicker.js"></script>
</body>

</html>